.nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.nav nav {
    box-shadow: none;
}
.nav ul li {
    color: white;
    
}
.nav ul li:hover{
    border-bottom: 2px solid white;
    background-color: initial;
}
.login-modal {
    background-color: white;
    width: 40%;
    max-width: 441px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    display: none;
}