.home .upper-fold {
    height: 100vh !important;
    background-size: cover;
    /* background-image: url('https://a0.muscache.com/4ea/air/r:w775-h518-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg'); */
    background-image: url('https://images.wallpaperscraft.com/image/night_room_girls_friends_things_computer_drinks_lamp_shelves_tv_87239_1440x900.jpg')
}
.home {
    padding: 0px !important;
}